<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <!-- console appender for the CONSOLE -->
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} | %-5.5p | %C | %X{bundle.name} | %m%n"/>
        </Console>

        <!-- appender for the File  -->
        <RollingFile name="DEFAULT_LOG" fileName="logs/log.log" append="true" filePattern="logs/log-%i.txt">
            <PatternLayout>
                <pattern>%d{ISO8601} | %-5.5p | %C | %X{bundle.name} | %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>
        <Async name="ASYNC">
            <AppenderRef ref="DEFAULT_LOG"/>
            <AppenderRef ref="CONSOLE"/>
        </Async>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="ASYNC"/>
        </Root>
        <!--# top level package loggers for com ...-->
        <Logger name="com" level="WARN" >
            <AppenderRef ref="DEFAULT_LOG" />
        </Logger>
    </Loggers>
</Configuration>